<app-sidebar></app-sidebar>
<body>
<main>
    <form id="userForm">

        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-4">
               
                <label for="cod_cliente">Cliente:</label><BR>
                    <select id="cliente" name="cliente" #cliente required>
                        <option disabled selected>Elija un cliente</option>
                        <option *ngFor="let cliente of clientes" value="{{cliente.id_cliente}}">{{cliente.nombre}}</option>
                    </select>
            </div>
            
            <div class="col-md-4">
                <label for="fecha">Fecha:</label>
                <input disabled type="date" name="fecha" id="fecha" class="form-control" style="width: 200px" [value]="fechaActual">
              </div>
        </div>
        <br> <br>

        <div id="detalles" class="table-responsive">
            <table id="venta" class="table" style="text-align:center">
                <thead>
                    <tr>
                        <th>Código de producto</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Subtotal</th>
                        <th><button type="add" class="fas fa-plus btn btn-success" style="font-size: 15px" (click)="agregarFila()"> Agregar </button></th>
                    </tr>
                </thead>
                <tbody id="productos-tabla">
                    <tr *ngFor="let productoAgregado of productosAgregados; let i = index">
                        <!-- Celdas de la fila -->
                        <td>
                          <select id="producto{{i}}" name="producto{{i}}" [(ngModel)]="productoAgregado.producto" required>
                            <option disabled selected>Elija un producto</option>
                            <option *ngFor="let producto of productos" [value]="producto.id_producto">{{producto.producto}}</option>
                          </select>
                        </td>
                        <td>
                          <input type="number" name="cantidad{{i}}" min="1" [(ngModel)]="productoAgregado.cantidad" (ngModelChange)="calcularMontoTotal(i)" required>
                        </td>
                        <td>
                          <input type="number" name="precio{{i}}" min="0.01" step="0.01" [(ngModel)]="productoAgregado.precio" (ngModelChange)="calcularMontoTotal(i)" required>
                        </td>
                        <td>
                          <input type="number" name="monto_total{{i}}" readonly [(ngModel)]="productoAgregado.monto_total">
                        </td>
                        <td>
                          <!-- Botón para eliminar la fila -->
                          <button (click)="eliminarFila(i)" class="fas fa-trash btn btn-danger" style="font-size: 15px"></button>
                        </td>
                      </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3"><strong>Total</strong></td>
                      <td><label id="total" style="font-size: 25px">{{ totalSubtotales.toFixed(2) }}</label></td>
                    </tr>
                  </tfoot>
                  
            </table>
        </div>
        <button type="Guardar" class="far fa-save btn btn-info" value="Guardar" style="font-size: 17px" (click)="crearFactura(cliente.value)">Facturar</button>

    </form>
</main>

</body>
