<app-sidebar></app-sidebar>

<div style="text-align: center"><h1>Facturas</h1></div>
<main>
  <div class="nueva-fatura">
    <a
      class="btn btn-success"
      id="new"
      style="float: right; margin-right: 2px"
      [routerLink]="['./new']"
      >Nueva Factura</a>
      <br><br><br>
  </div>
  <div class="userList" id="userList">
    <table id="FacturasTable" class="table table-hover table-striped">
        <thead>
            <tr>
            <th>
                    <i class="fa-solid fa-pen-to-square" style="color: #e63946;"></i>
                    Referencia
                </th>
                <th>
                    <i class="fa-solid fa-pen-to-square" style="color: #e63946;"></i>
                    Cliente
                </th>
                <th>
                    <i class="fa-solid fa-boxes-stacked" style="color: #e63946;"></i>
                    Fecha
                <th>
                    <i class="fa-solid fa-list" style="color: #e63946;"></i>
                    Serie
                </th>
                <th>
                    <i class="fa-solid fa-bolt" style="color: #e63946;"></i>
                    Numero
                </th>

                <th>
                    <i class="fa-solid fa-bolt" style="color: #e63946;"></i>
                    Estado
                </th>
                <th>
                    <i class="fa-solid fa-bolt" style="color: #e63946;"></i>
                    Acciones
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let factura of facturas">
                <th scope="row">{{ factura.referencia }}{{factura.id_factura}}</th>
                <td>{{ getClientsName(factura.id_cliente) }}</td>
                <td>{{ factura.fecha_crear }}</td>
                <td>{{ factura.serie }}</td>
                <td>{{ factura.numero }}</td>
                <td>{{ factura.estado }}</td>
                <td>
                    <button class="edit-btn" (click)="verFactura(factura.id_factura)">Ver Factura</button>
                    <button id="AnularFactura" class="delete-btn" (click)="anular(factura)" 
                    *ngIf="factura.estado === 'Emitida'" [disabled]="factura.estado !== 'Emitida'">Anular</button>
                </td>

            </tr>        
        </tbody>
    </table>
  </div>
</main>

