<app-sidebar></app-sidebar>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">     
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css">

 
<div style="text-align: center"><h1>PRODUCTOS</h1></div>
<main>
  <div class="nuevo-producto">
   
    <a class="btn btn-success" id="new"
    style="float: right; margin-right: 2px" [routerLink]="['./create']">Nuevo producto</a>

  </div>
  <div class="userList" id="userList">
    <table id="ProductoTable" class="table table-hover table-striped">
      <thead>
        <tr>
          <th>
            <i class="fa-solid fa-pen-to-square" style="color: #e63946"></i>
            Producto
          </th>
          <th>
            <i class="fa-solid fa-boxes-stacked" style="color: #e63946"></i>
            Existencia
          </th>

          <th>
            <i class="fa-solid fa-list" style="color: #e63946"></i>
            Categoria
          </th>
          <th>
            <i class="fa-solid fa-bolt" style="color: #e63946"></i>
            Acciones
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos">
          <th scope="row">{{ producto.producto }}</th>
          <td>{{ producto.existencia }}</td>
          <td>{{ getCategoriesName(producto.id_categoria) }}</td>
          <td class="td_boton">
            <a
              href=""
              class="edit-btn"
              data-bs-toggle="modal"
              data-bs-target="#editarModal"
              (click)="editarProducto = producto"
              >Editar
            </a>
            <a id="EliminarProducto" class="delete-btn" (click)="borrar(producto)">Eliminar </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
<div
  class="modal fade"
  id="editarModal"
  tabindex="-1"
  aria-labelledby="editarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarModalLabel">Datos del producto</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="editForm" action="" method="POST">
          <div>
            <label for="editProducto">Nombre de producto </label>
            <input
              type="text"
              id="editProducto"
              name="editProducto"
              placeholder="Ingrese el nombre del producto"
              [(ngModel)]="editarProducto.producto"
            />
          </div>
          <br />
          <div>
            <label for="editCategoria">Categoria </label>
            <select id="editCategoria" name="editCategoria" [(ngModel)]="editarProducto.id_categoria">
              <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">{{ categoria.categoria}}</option>
            </select>
          </div>
          
          <br />
          <div>
            <label for="editExistencia">Existencia </label>
            <input
              type="text"
              id="editExistencia"
              name="editExistencia"
              placeholder="Ingrese la existencia"
              [(ngModel)]="editarProducto.existencia"
            />
          </div>
          <br />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button id="guardarCambiosBtn" type="button" class="btn btn-primary" (click)="update()" data-bs-dismiss="modal">
          Editar
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.all.min.js"></script>
    