<app-sidebar></app-sidebar>

<body>
    <div style="text-align: center;"><h1>USUARIOS</h1></div>
    <main>
        <div class="nuevo-usuario">
            <a class="btn btn-success" id="new" style="float: right; margin-right: 2px;" [routerLink]="['/usuarios/crear']">
                <i class="fa-solid fa-notes-medical"></i> Nuevo USUARIO
            </a>
        </div>
        <div class="userList" id="userList">
            <table id="UsuariosTable" class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            <i class="fa-solid fa-pen-to-square" style="color: #e63946;"></i>
                            id
                        </th>
                        <th>
                            <i class="fa-solid fa-boxes-stacked" style="color: #e63946;"></i>
                            USUARIO
                        </th>
                        <th>
                            <i class="fa-solid fa-list" style="color: #e63946;"></i>
                            Contraseña
                        </th>
                        <th>
                            <i class="fa-solid fa-bolt" style="color: #e63946;"></i>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of usuarios">
                        <td>{{usuario.id_usuario}}</td>
                        <td>{{usuario.usuario}}</td>
                        <td>{{usuario.clave}}</td>
            
                        <td class="td_boton">
                            <a
                              class="edit-btn"
                              data-bs-toggle="modal"
                              data-bs-target="#editarModal"
                              (click)="editarUsuario = usuario"
                              >Editar
                            </a>
                            <a id="EliminarUsuario" class="delete-btn" (click)="borrar(usuario)">Eliminar </a>
                          </td>
                    </tr>
                
            </tbody>
            </table>
        </div>
        <a [routerLink]="[ './create']"></a>
    </main>
    <div
  class="modal fade"
  id="editarModal"
  tabindex="-1"
  aria-labelledby="editarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editarModalLabel">Datos del Usuario</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="editForm" action="" method="POST">
          <div>
            <label for="editUsuario">Nombre de usuario </label>
            <input
              type="text"
              id="editUsuario"
              name="editUsuario"
              placeholder="Ingrese el nombre de usuario"
              [(ngModel)]="editarUsuario.usuario"
              />
          </div>
          <br />
          <div>
            <label for="editNit">Contraseña </label>
            <input
              type="password"
              id="editContraseña"
              name="editContraseña"
              placeholder="Ingrese la Contraseña"
              [(ngModel)]="editarUsuario.clave"
            />
          </div>
          <br>
          <div>
            <label for="editRol">Rol </label>
            <select
              id="editRol"
              name="editRol"
              [(ngModel)]="editarUsuario.id_rol"
            >
              <option value="1">Administrador</option>
              <option value="2">Usuario</option>
            </select>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        
        <button id="guardarCambiosBtn" type="button" class="btn btn-primary" (click)="actualizarUsuario()" data-bs-dismiss="modal">
            Guardar
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
      </div>
    </div>
  </div>
</div>
</body>

