<div class="sidebar" [ngClass]="{ hidden: isSidebarHidden }">
  <div class="header" (click)="toggleSidebar()">
    <i class="fa-solid fa-house" ></i>
    <span class="label">Proyecto</span>
  </div>
  <ul>
    <li *ngFor="let item of navbarData">
      <a [routerLink]="item.routeLink">
        <i [ngClass]="item.icon"></i>
        <span class="label">{{ item.label }}</span>
      </a>
    </li>
    <li>
      <a (click)="onLogout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span class="label">Cerrar Sesión</span>
      </a>
    </li>
  </ul>
</div>
