<app-sidebar></app-sidebar>
<section>
    <div class="form-box">
        <div class="form-value">
            <h2>Crear Cliente</h2>
            <form id="userForm" action="" method="post">
                <div class="inputbox">
                    <i class="fa-solid fa-user fa-lg"></i>
                    <input type="text" id="nombreC" name="nombreC" #nombre required>
                    <label for="nombreCliente">Nombre </label>
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-pen"></i>
                    <input type="text" id="nit" name="nit" #nit required>
                    <label for="NIT">NIT</label>
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-house"></i>
                    <input type="text" id="Direccion" name="Direccion" #direccion required>
                    <label for="Direccion">Direccion</label>
                </div>
                <div class="inputbox">
                    <i class="fa-solid fa-phone"></i>
                    <input type="text" id="Telefono" name="Telefono" #telefono required>
                    <label for="Telefono">Teléfono</label>
                </div>
                <button (click)="crearCliente(nombre.value, nit.value, direccion.value, telefono.value)">Crear Cliente</button>
            </form>
        </div>
    </div>
</section>